:root{
    --txt1: #222;
    --bg1: #fff;
}
body{
    background: var(--bg1);
    color: var(--txt1);
}
a, a:link, a:visited, a:hover, a:active{
  outline: none !important;
  text-decoration: none;
}


